@font-face {
  font-family: 'Asitron';
  src: url(./impacted.eot);
  src: url(./impacted.eot?#iefix) format('embedded-opentype'),
       url(./impacted.otf) format('otf'),
       url(./impacted.svg#impacted) format('svg'),
       url(./impacted.ttf) format('truetype'),
       url(./impacted.woff) format('woff'),
       url(./impacted.woff2) format('woff2');
}
