<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/site.webmanifest">
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 , user-scalable=0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./font/styles.css">
    <link rel="stylesheet" href="./font-cost/styles.css">
    <title>Asitron</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <header>
        <h6>ЛУЧШЕЕ <br> КАЧЕСТВО</h6>
        <h6>АКСЕССУАРЫ</h6>
        <img id="logo-header" src="./img/header/Asitron.svg" alt="Asitron Logo">
        <h6>ДИАГНОСТИКА</h6>
        <h6>БЫСТРОЕ ВРЕМЯ <br> РЕМОНТА</h6>
    </header>
    <main>
        <div class="side-div main-div mobile-side">
            <span class="side-span">
                <img class="side-img" src="./img/main/Защита.png" alt="Зашита Экрана">
                <b>Надежная <br> Защита</b>
            </span>
            <span class="side-span">
                <img class="side-img" src="./img/main/Бесконечность.png" alt="Срок Службы">
                <b>Долгий Срок Службы</b>
            </span>
        </div>
        <div class="center-div main-div">
            <h3>Предложение Сегодня</h3>
            <img id="center-image" src="./img/main/Пленка.png" alt="Гидрогеливая Пленка">
            <h2>Защитная <br> Гидрогеливая Пленка</h2>
        </div>
        <div class="side-div main-div mobile-side">
            <span class="side-span">
                <img class="devices" src="./img/main/Устройства.png" alt="На Любое Устройство">
                <b>На Любое Ваше <br> Устройсво</b>
            </span>
            <span class="side-span">
                <img class="side-img" src="./img/main/Глаз.png" alt="Защита Глаз">
                <b>Blue Ray <br> Защита</b>
            </span>
        </div>
    </main>
    <section id="vue">
        <form @submit.prevent="search" >

            <select v-model="category" name="category">
                <option selected v-for="option of categories"  v-bind:value="option" >{{ option }}</option>
            </select>

            <input type="text" id="device-info" v-model="text">

            <input id="search"  type="submit" value="Поиск">

        </form>
        <div id="container">
            <h5 class="start-search" v-if="items.length == 0 && !api">Начните поиск по Витрине!</h5>
            <h5 class="start-search" v-if="items.length == 0 && api">Свяжитесь с нами, и мы обязательно это найдем!</h5>
            <div v-if="items.length > 0" id="items-div">
                <span class="item-cart" v-for="item in items">
                    <b class="item-title">{{item.name}}</b>
                    <img v-bind:src="item.image" class="item-img">
                    <small class="descripton">{{item.descriprion}}</small>
                    <span>
                        <b class="item-cost">{{item.cost}}</b>
                        <b>Лей</b>
                    </span>
                    
                </span>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-side">
            <h4>Как Нас Найти?</h4>
            <iframe id="map" 
            style="filter: grayscale(100%) invert(92%) contrast(83%)"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1384.3811106291255!2d28.834719875938188!3d46.0558408560911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b7cd59c7ddfb4f%3A0xc736f5d9290a70fa!2sAsitron!5e0!3m2!1sru!2s!4v1639877993827!5m2!1sru!2s" 
            allowfullscreen="" 
            loading="lazy">
            </iframe>
            <h4>г. Чадыр-Лунга, ул. Чеканова 7</h4>
        </div>
        <div class="footer-side center">
            <h4>График Работы:</h4>
            <img src="./img/footer/График.svg" id="grath" alt="График Работы">
            <h4>C 9:00 - 16:00</h4>
        </div>
        <div class="footer-side">
            <h4>Контакты:</h4>
            <a href="http://instagram.com/_u/asitron.service/" class="contacts">
                <img class="contact-logo" src="./img/footer/Instagram-Logo.svg" alt="asitron-ge">
                <h4>asitron-ge</h4>
            </a>
            <a href="tel:+37379006119" class="contacts">
                <img class="contact-logo" src="./img/footer/Phone.svg" alt="asitron-ge">
                <h4>+373 790 06 119</h4>
            </a>
        </div>
    </footer>

    <script src="main.js"></script>
</body>
</html>