html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Фон.svg');
    background-size: cover;
    background-position-x: center;
    font-family: 'Asitron';
    color: white;
}

b, h2, h3, h6 {
    text-align: center;
}

/* Header */

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h6 {
    font-size: 100%;
}


#logo-header {
    height: 80%;
}


@media screen and (max-width: 1023px) {
    h6 {
        display: none;
    }
}

/* Специальное Предложение */

main {
    width: 100%;
    height: 90vh;
    display: flex;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.side-div {
    flex: 0.7;
}

.side-span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-img {
    margin-bottom: 5%;
    width: 25%;
}

.devices {
    margin-bottom: 5%;
    width: 40%;
}

.center-div {
    flex: 1;
}

#center-image {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    height: 60%;
}

h2, h3 {
    font-size: 3.5vh;
}

@media screen and (max-width: 1023px) {
    main {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .center-div {
        flex: auto;
        width: 90%;
        order: -1;
    }

    .side-div {
        width: 90%;
        flex: auto;
    }

    #center-image {
        height: auto;
        width: 300px;
    }

    h3 {
        display: none;
    }

    h2 {
        order: -1;
    }

    .side-img {
        width: 80px;
    }

    .devices {
        width: 100px;
    }

    .mobile-side {
        flex-direction: row;
        justify-content: space-around;
    }

    b {
        font-size: 12px;
    }
}


/* Выбор Товара */

section {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}

/* Форма Поиска */

form {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

select {
    width: 15%;
    height: 35px;
    border: 2px solid white;
    background-color: black;
    color: white;
    text-align: center;
    text-align-last: center;
    font-family: 'Asitron';
}

#device-info {
    height: 30px;
    width: 35%;
    border: 2px solid white;
    background-color: black;
    color: white;
    text-align: center;
    text-align-last: center;
    font-family: 'Asitron';

}

#search {
    cursor: pointer;
    height: 35px;
    width: 10%;
    border: 2px solid white;
    background-color: black;
    color: white;
    text-align: center;
    text-align-last: center;
    font-family: 'Asitron';
}

@media screen and (max-width: 1023px) {
    form {
        flex-direction: column;
        justify-content: flex-start;
    }

    select {
        font-size: 12px;
        margin-top: 10px;
        width: 90%;
    }
    
    #device-info {
        font-size: 12px;
        margin-top: 10px;
        width: 88%;
    }
    
    #search {
        font-size: 12px;
        margin-top: 10px;
        width: 50%;
    }
    
}

#search:hover {
    background-color: white;
    color: black;
    border: none;
}

/* Форма Поиска */


#container {
    width: 100%;
    flex: 1;
    display: flex;
}

.start-search {
    margin: auto;
    align-self: center;
}

#items-div {
    flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item-cart {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-title {
    color: red;
    font-size: 18px;
}

.item-img {
    width: 200px;
}

.descripton {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.span-cost {
    margin-top: 10px;
}


.item-cost {
    font-family: 'Arial Black', bold;
    font-size: 24px;
    color: red;
}

h5 {
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 1023px) {

    h5 {
        font-size: 14px;
    }

    .item-cost {
        font-family: 'Arial Black', bold;
        font-size: 20px;
        color: red;
    }
}


/* Footer */

footer {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 3px solid white;
    padding-bottom: 5px;
    display: flex;

}

.footer-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.center {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.contacts {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-logo {
    width: 30px;
}

#map {
    height: 60%;
}

#grath {
    width: 80%;
}

#phone {
    text-decoration-line: none;
    color: white;
}

h4 {
    font-size: 20px;
}

a {
    cursor: pointer;
    text-decoration-line: none;
    color: white;
}

a:hover {
    color: red;
}


@media screen and (max-width: 1023px) {

    h4 {
        font-size: 16px;
    }

    footer {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .center {
        border-left: none;
        border-right: none;
        order: -1;
    }

    .footer-side {
        width: 90%;
        border-top: 1px solid white;
    }

    #map {
        height: auto;
        width: 80%;
    }

    
}